body {
    color: white;
}

.device {
    margin: auto;
    width: 160pt;
    display: flex;
    flex-flow: row;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.content, .watch {
    width: 77pt;
    height: 77pt;
    background: black;
}

.watch {
    position: relative;
    margin: auto;
    border: 10pt #484848 solid;
    border-top-width: 16pt;
    border-bottom-width: 16pt;
    border-radius: 12pt;

    flex: 0 1 auto;
}

button {
    border: none;
    background-color: inherit;
    color: inherit;
}

.sideButton {
    margin: auto;
    width: 14pt;
    height: 77pt;
    background: #484848;
    display: flex;
    flex-flow: column;

    border: 4pt #484848 solid;
    border-top-width: 14pt;
    border-bottom-width: 14pt;
    border-radius: 5pt;
}

.watch {
    position: relative;
    margin: auto;
    border: 10pt #484848 solid;
    border-top-width: 16pt;
    border-bottom-width: 16pt;
    border-radius: 12pt;

    flex: 0 1 auto;
}

button {
    border: none;
    background-color: inherit;
    color: inherit;
    outline: none;
}

.sideButton {
    margin: auto;
    width: 14pt;
    height: 77pt;
    background: #484848;
    display: flex;
    flex-flow: column;

    border: 4pt #484848 solid;
    border-top-width: 14pt;
    border-bottom-width: 14pt;
    border-radius: 5pt;
}
.arrowButton, .homeButton {
    position: relative;
    margin: auto;
    flex : 1 1 auto;
    display: flex;
    text-align: center;
}

/* .homeButton {
    padding: 50% 0;
}

.arrowButton {
    padding: 50% 0;
}
*/

.homeButton {
    padding: 45% 0;
}

.arrowButton {
    padding: 18% 0;
}



.arrowButton i {
    padding: 0% 0;
}

.homeButton i {
    padding: 0% 0;
}

