
.tabmenu {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 14px 14px 14px 14px;
  margin: 0 150px 0 0 ;
}

.tab {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.section {
	display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}